<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BASE</title>
  </head>
  <body>
      <nav>
          <div>
              <ul>
                  <li><a href="{% url 'index' %}">DJANGO</li>
                  <li><a href="{% url 'admin:index' %}">ADMIN</li>
                  <li><a href="{% url 'basic_app:register' %}">REGISTER</li>
              </ul>
          </div>
      </nav>

      {% block body_block %}
      <!-- this is a comment-->
      {% endblock %}
  </body>
</html>